.component {
  margin-bottom: 10px;
  border: 1px solid #bbb;
  padding: 10px;
}

.react-version {
  position: fixed;
  top: 50%;
  left: 45%;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 1px 1px 2px 1px #f50;
  padding: 10px;
  color: #f40;
}